.indexWrap {
  position: relative;
  display: grid;
  gap: 1px 1px;
  grid-auto-rows: auto;
  grid-template-columns: repeat(2, 1fr);

  // min ~
  @include breakepoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include breakepoint-up(md) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include breakepoint-up(lg) {
    grid-template-columns: repeat(4, 1fr);
  }

  --depth: 1rem;

  .list {
    position: relative;
    cursor: pointer;
    color: var(--theme-text);
    background-color: var(--theme-bg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    outline: 1px solid var(--theme-border);
    transition: transform 0.3s;
    background-blend-mode: luminosity;

    @include breakepoint-up(xs) {
      height: 30vh;
    }
    @include breakepoint-up(md) {
      height: 50vh;
    }

    &:before,
    &:after {
      content: '';
      opacity: 0;
      z-index: -1;
      position: absolute;
      background-color: darken($primary, 15%);
      // outline: 1px solid var(--theme-border);
    }

    &:before {
      bottom: calc(var(--depth) * -1);
      left: calc(var(--depth) * -1);
      width: 100%;
      height: var(--depth);
      transform-origin: bottom;
      transform: skewX(-45deg);
    }
    &:after {
      top: var(--depth);
      left: calc(var(--depth) * -1);
      width: var(--depth);
      height: 100%;
      transform-origin: left;
      transform: skewY(-45deg);
      background-color: darken($primary, 10%);
    }

    &:hover {
      z-index: 1;
      transform: translate(var(--depth), calc(var(--depth) * -1));
      background-color: var(--primary);
      color: var(--light);
      outline-color: transparent;

      &:before,
      &:after {
        opacity: 1;
      }
    }
  }

  // grid number
  [data='4'] {
    background-image: url(../assets/images/pixelduk.svg);
  }
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  word-break: break-all;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

// children
.title {
  display: block;
  text-transform: uppercase;
  font-size: clamp(2rem, 9vw, 8rem);
  line-height: 1;
  padding: 0;
}

.focusImg {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 300px;
  display: none;

  &.active {
    background-color: var(--primary);
    display: block;
    transition: all 0.3s linear;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
