.header {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-9);
}

.logo {
  display: block;
  padding: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: inherit;
}

.nav {
  display: flex;

  &.open {
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
    color: var(--gray-9);
  }
  .navLink {
    padding: 1rem;
    color: inherit;
  }
}

.navTrigger {
  z-index: 30;
  display: none;
}

@media (max-width: 600px) {
  .nav {
    display: none;
  }
  .navTrigger {
    display: block;
  }

  .navList {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navLink {
    display: block;
  }
}

.themeSwitch {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 10;
}
