.header {
  position: sticky;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  padding: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
}

.nav {
  display: flex;

  &.open {
    display: flex;
  }

  @media (max-width: 600px) {
    display: none;
  }

  .navLink {
    padding: 1rem;
  }
}

.navTrigger {
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}
