.header {
  position: relative;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-9);
}

.logo {
  display: block;
  padding: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: inherit;
}

.nav {
  display: flex;

  &.open {
    display: block;
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--secondary);
    color: var(--gray-9);
  }

  @media (max-width: 600px) {
    display: none;
  }

  .navLink {
    padding: 1rem;
    color: inherit;
  }
}

.navTrigger {
  z-index: 30;
  display: none;

  @media (max-width: 600px) {
    display: block;
  }
}
